[submodule "deps/front"]
	path = deps/front
	url = https://github.com/tiagodevweb/vue-finances-front.git
[submodule "deps/back"]
	path = deps/back
	url = https://github.com/tiagodevweb/vue-finances-back.git
